
.wrapper-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper-2 {
  padding: 30px;
  text-align: center;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 4em;
  letter-spacing: 3px;
  background: #667EEA;
  background: radial-gradient(circle farthest-corner at center center, #667EEA 0%, #764ba2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  margin-bottom: 20px;
}

.wrapper-2 p {
  margin: 0;
  font-size: 1.3em;
  color: #aaa;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
}

.go-home {
  color: #fff;
  background: #43434833;
  border: none;
  padding: 10px 50px;
  margin: 30px 0;
  border-radius: 30px;
  text-transform: capitalize;
  box-shadow: 0 10px 16px 1px rgb(16 16 16 / 79%)
}

.footer-like {
  margin-top: auto;
  background: #D7E6FE;
  padding: 6px;
  text-align: center;
}

.footer-like p {
  margin: 0;
  padding: 4px;
  color: #5892FF;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
}

.footer-like p a {
  text-decoration: none;
  color: #5892FF;
  font-weight: 600;
}

#transationLinkStyle{
  word-break: break-all;
  text-decoration: none;
}

@media (min-width:360px) {
  h1 {
    font-size: 4.5em;
  }

  .go-home {
    margin-bottom: 20px;
  }
}

@media (min-width:600px) {
  .content {
    max-width: 1000px;
    margin: 0 auto;
  }

  .wrapper-1 {
    height: initial;
    max-width: 620px;
    margin: 0 auto;
    box-shadow: 4px 8px 40px 8px linear-gradient(to bottom left, var(--gradient-primary-color) 0%, var(--gradient-secondary-color) 100%);
  }

}